// FONTS

// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";


// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;
$bolder: 900;


// COLORS

$midnight: #252761;
$boat: #353a86;
$sea: #00c5d2;
$pool: #00dae7;
$mauve: #6855e9;
$bleu: #00b4f5;
$turq: #43eee1;
$apple: #c2f1ce;

// GRAY SCALE

$darker: #292929;
$dark: #707070;
$medium: #808080;
$ashes: #acacac;
$light-gray: #dadada;
$off-white: #f5f5f5;

