.reviews-list {
  padding: 80px;
}

// .all {
//   background-color: $ashes;
//   text-align: center;
//   height: 100vh;
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   // background-size: cover !important;
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
// }

.content-container {
    box-shadow: 1px 10px 20px rgba(0,0,0,0.4);
    overflow: hidden;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    background-color: #FFFFFF;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}



.all {
  background: url(http://kingofwallpapers.com/sao-paulo/sao-paulo-019.jp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-box {
  width: 100%;
  background-color: $off-white;
}
