
<div class="fonts">
<div class="banner" style="background-image: linear-gradient(0deg, rgba(255,255,255,1.0) 0%, rgba(0,111,139,0.1) 50%), url('http://res.cloudinary.com/livpuppa/image/upload/v1493192993/banner_wssfw1.jpg');">



  <div class="banner-content">


      <div class="title">
        <h1>Find a doctor to trust & fit your need.</h1>
      </div>


      <div class="seach-form">
        <form action="" class="search">
        <input type="text" class="search-input" placeholder="Name (optional)"></input>
        <input type="text" class="search-input" placeholder="City"></input>
        <input type="text" class="search-input" placeholder="Specialty"></input>
        <a href="#" class="btn-treehouse">Find</a>
        </form>
      </div>
  </div>

</div> <!-- END OF BANNER BACKGROUND  -->





<div class="container2">
  <div class="row">

      <div class="col-xs-12 col-sm-3">
      <img src="http://res.cloudinary.com/livpuppa/image/upload/v1493632471/3_ohjmyg.png" alt="" class="icons">

      <div><h4>All information you nedd</h4>
      <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p></div>

      </div>

      <div class="col-xs-12 col-sm-3">
      <img src="http://res.cloudinary.com/livpuppa/image/upload/v1493632471/2_zlifra.png" alt="" class="icons">

      <div><h4>Reviews from other patients</h4>
      <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p></div>

      </div>

      <div class="col-xs-12 col-sm-3">
      <img src="http://res.cloudinary.com/livpuppa/image/upload/v1493632471/1_xdeo50.png" alt="" class="icons">

      <div><h4>Database </h4>
      <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p></div>

      </div>

      <div class="col-xs-12 col-sm-3">
      <img src="http://res.cloudinary.com/livpuppa/image/upload/v1493632471/4_f3bihu.png" alt="" class="icons">

      <div><h4>Location</h4>
      <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p></div>

      </div>

  </div>
</div>


<<<<<<< HEAD
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
      <div class="card-category">Popular</div>
        <div class="card-description">
        <h2>Some stuff</h2>
        <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
      <div class="card-category">Popular</div>
        <div class="card-description">
        <h2>Some stuff</h2>
        <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

   <div class="col-xs-12 col-sm-4">
    <div class="card">

      <img class="card-user avatar" src="http://i571.photobucket.com/albums/ss154/wvteardrop/Dr_Kotler_Head_Shot.jpg~original">
      <a class="card-link" href="#" ></a>
      <div class="card-category">Popular</div>
        <div class="card-description">
        <h2>Some stuff</h2>
        <p>Very cool stuff, useful and smart</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
























<div class="col-sm-8 col-sm-offset-2">
=======
>>>>>>> 8532b33c1a934e64c990df226074415e47b7a0a0


<div class="container3">
  <div class="row">

      <div class="col-xs-12 col-sm-3">
      <div><h4><%= @reviews_first %></h4>
      </div>


      <div class="col-xs-12 col-sm-3">
      <div><h4><%= @reviews_second %></h4>
      </div>

     <div class="col-xs-12 col-sm-3">
      <div><h4><%= @reviews_third %></h4>
      </div>


  
  






  </div>
</div>
























<!--
http://res.cloudinary.com/livpuppa/image/upload/v1493604229/1_ogejii.png -->

<!--   <h1>h1: Find a doctor you trust & fits your need.</h1>

  <h2>h2: Reviews</h2>

  <h3>h3: Thank you!</h3>
  <br>
  <h4>h4: Dr. Carlos Bustamante</h4>

  <h5>h5: Cardiologist / CRM: 83957</h5>



  <p>p: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor, orci vehicula finibus congue, lacus felis sagittis libero, a facilisis dolor odio nec ex. Curabitur accumsan consectetur risus finibus efficitur. Vestibulum ornare porta scelerisque. Integer in ultricies augue. Phasellus ultrices gravida eros id congue. Vestibulum lacinia orci luctus erat gravida blandit. Duis sagittis quam vitae pretium scelerisque. Sed blandit vel enim a tincidunt. Cras elementum malesuada ligula. Duis semper nulla et odio ultricies, quis rhoncus risus sodales. Nam consequat diam nec velit faucibus dignissim. Fusce ultrices risus massa, eget feugiat massa tincidunt sit amet. Mauris convallis nulla quis purus vestibulum venenatis.</p>
  <br>
  <h6>h6: Warning! You are not allowed to review your own profile.</h6>

<br><br>
<br><br>
<br><br>
<br><br>

</div>

<br><br>
<br><br>
<br><br>
<br><br>


</div>
 -->




