p {
  color: $dark;
  font-size: 15.5px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 19px;
  text-align: justify;
}

h1 {
  color: $sea;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 23px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: $midnight;
}

h3 {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  color: $boat;
}

h4 {
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: $bleu;
}

h5 {
  color: $medium;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h6 {
  font-size: 15px;
  color: $mauve;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

