<br>
<br>

<button class="btn btn-treehouse" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Read the description about this doctor
</button>
<div class="collapse" id="collapseExample">
  <div class="well1">
   <%= @doctor.description %>
  </div>
</div>
