.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}


.banner h1 {
  color: #00a6b1;
  font-size: 45px;
}


/* Search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 1px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.input:focus  {
  border: 1px solid #CCCCCC;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 1px;
  background: $sea;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: $midnight;
  text-decoration: none;
  color: white;
}
.retangle {
  flex: 0 1 300px;
  align-items: center;
  justify-content: space-between;
    top: 140px;
    left: 31px;
    width: 880px;
    height: 234px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.5;
    filter: alpha(opacity=70);
}
