.pad {
  padding-left: 0px;
  padding-right: 0px;
}

.small{
  font-size: 10px;
  color: #252761;
  text-shadow: none;
  position: absolute;
  top: 20px;
  right: 24px;
}
.card-d {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-color: $off-white;
  border-radius: 5px;
  color: white;
  position: relative;
  margin-top: 20px;
}

.card-d-review {
  position: absolute;
  right: 20px;
  top: 39px;
  min-width: 40px;
  text-align: center;
  background-color: $midnight;
  border: solid;
  border-width: 1px;
  border-color: $midnight;
  border-radius: 5px;
  color: white;
  text-shadow: none;

}

.rating-button{
  position: absolute;
  right: 20px;
  top: 77px;
}


.avatar-big{
  position: absolute;
  left: 15px;
  top: 15px;
  max-height: 45%;

}
.card-d-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;

}
.card-d-description {
  position: absolute;
  bottom: 10px;
  left: 15px;

}
.card-d-description h2 {
  font-size: 19px;
  text-shadow: none;
}
.card-d-description p {
  font-size: 13px;
  line-height: 10px;
  text-shadow: none;
  }

.card-d-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-d-link:hover{
  opacity: 0.1;
}


.main-card-info{
  background-color: red;
}
.search-title{
  background-color: $light-gray;
  color: $bleu;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 2px;
  padding: 1px 10px;
  width: 100%;
  border-radius: 2px;
}

.search-name{
  padding: 3px;
  margin: 0px 5px;
  padding: 4px;
  font-size: 13px;
  width: 90%;
  height: 48%;
}

.search-box {
  margin-bottom: 10px;
}

.wrapper {
  text-align: center;
}

.wrapper-index {
  background-color: transparent;
}

.wrapper-flex {
  padding: 100px;
  display: flex;
}


.card-doctor {
  height: 175px;
  background-size: cover !important;
  position: relative;
  border-top: 0.5px dashed #e8e5e5;
}

.card-doctor:hover{
  background-color: $off-white;
}

.card-doctor-name {
  color: #88D1E7;
  position: absolute;
  top: 10px;
  left: 120px;
}

.card-doctor-address {
  color: #88D1E7;
  position: absolute;
  bottom: 10px;
  left: 120px;
  max-width: 58%;
}

.card-doctor-specialty {
  color: #909090;
  position: absolute;
  top: 60px;
  left: 120px;
}

.card-doctor-profile {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-doctor-index-rating-button {
  position: absolute;
  bottom: 90px;
  right: 50px;
}

.card-doctor-rating-average {
  position: absolute;
  bottom: 90px;
  right: 2px;
  background-color: $boat;
  padding: 7px;
  border-radius: 3px;
  color: white;
}

.card-doctor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-doctor-amount-of-reviews {
  color: #88D1E7;
  position: absolute;
  bottom: 50px;
  right: 2px;
}

.card-doctor-rating-description {
  color: $boat;
  position: absolute;
  bottom: 130px;
  right: 5px;
  font-size: 10px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description h2 {
  font-size: 24px;
}

.card-description p {
  font-size: 13px;
  }

.card-link:hover{
  opacity: 0.1;
}
