.forgot {
  width: 100%;
  color: $pool;
  margin-top: 50px;
}

.facebook {
  width: 100%;
  background-color: #3b5998;
  color: white;
  margin-top: 5px;

}

.signup {
  width: 100%;
  background-color: $turq;
  color: white;
  margin-top: 0px;
}


.login {
  width: 100%;
  background-color: $dark;
  color: white;
  margin-top: 0px;
}
